# Environment
NODE_ENV=development

# Database - PostgreSQL (shared with API)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/himo?schema=public"

# Scraping Configuration
SCRAPING_INTERVAL=*/2 5-22 * * *

# Optional: Proxy configuration if needed
# PROXY_HOST=
# PROXY_PORT=
