# Environment
NODE_ENV=development

# Database
MONGODB_URL=mongodb://localhost:27017/himo

# Scraping Configuration
SCRAPING_INTERVAL=*/2 5-22 * * *

# Optional: Proxy configuration if needed
# PROXY_HOST=
# PROXY_PORT=
